@page
@using System.Globalization
@model t3hmun.WebLog.Web.Pages.HomeModel

<h1>Home</h1>

<div>
    <p>
        @(Model.MessageOfTheDay)
    </p>
</div>

@foreach (var summary in Model.PostSummaries.OrderByDescending(p=>p.Date))
{
    <div class="index-item">
        <div class="index-item-heading">
            <h2>
                <a href="@(summary.Link)">@(summary.Title)</a>
            </h2>
        </div>
            <div class="index-item-date">
                <span>@summary.Date.ToString("D", CultureInfo.InvariantCulture)</span>
            </div>
        <div class="index-item-description">
            <p>
                @(summary.Description)
            </p>
        </div>
    </div>
}